<%-include("header")-%>

    <div class="text-center center-div pt-5 " id="login">
    <div class="container  border py-5">
     <div class="title ">
      <h1 class="font-weight-bold fs-2">Welcome!</h1>
      <span>Log in to continue</span>
      <% if(locals.Invalid){%>
        <div class="alert alert-warning text-center">Incorrect Username/Password</div>
      <%}%> 
     </div>
     <form action="/route/login" method="POST" class="pt-2">
       <div class="mb-3">
         <input type="email" class="form-control"  placeholder="Email" name="email">
         <div class="form-text text-muted text-start">
          Register email address
         </div>
       </div>
       <div class="mb-3">
         <input type="password"class="form-control"  placeholder="Password" name="password">
       </div>
       <button type="submit"class="btn btn-success rounded-pill w-75 mt-3 " >Log In</button>
    </form>
  
  </div>
</div>
 

<%-include("footer")-%>






 